/*
 * MyBB: Thumbs Post Rating
 *
 * File: thumbpostrating.css
 *
 * Authors: TY Yew & Vintagedaddyo
 *
 * MyBB Version: 1.8
 *
 * Plugin Version: 1.4
 *
 *  This file is part of Thumbs Post Rating plugin for MyBB.
 *
 *  Thumbs Post Rating plugin for MyBB is free software; you can
 *  redistribute it and/or modify it under the terms of the GNU General
 *  Public License as published by the Free Software Foundation; either
 *  version 3 of the License, or (at your option) any later version.
 *
 *  Thumbs Post Rating plugin for MyBB is distributed in the hope that it
 *  will be useful, but WITHOUT ANY WARRANTY; without even the implied
 *  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
 *  the GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http:www.gnu.org/licenses/>.
 */

.tpr_box
{
	border: 1px solid #9A9A9A;
	background-color: #fff;
}
.tu_stat
{
	color: #080;
	font-size: small;
}
.td_stat
{
	color: red;
	font-size: small;
}
.small
{
	font-size:xx-small;
}
.tpr_thumb
{
	display: block;
	width: 15px;
	height: 16px;
}
.tu1, .tu2:hover
{
	background: url(../images/tpr_thumbs.png) no-repeat 0 0;
	background-position: 0 -16px;
}
.td0, .td2
{
	background: url(../images/tpr_thumbs.png) no-repeat 0 0;
	background-position: -15px 0;
}
.tu0, .tu2
{
	background: url(../images/tpr_thumbs.png) no-repeat 0 0;
}
.td1, .td2:hover {
	background: url(../images/tpr_thumbs.png) no-repeat 0 0;
	background-position: -15px -16px;
}